.carousel {
    background: #fafafa;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #f3f5f6;
}

.carousel-cell {
    width: fit-content;
    height: 450px;
    min-width: 250px;
    margin: 10px;
}
