.carousel {
    background: hsl(0, 0%, 98%);
    height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.carousel-cell {
    width: fit-content;
    height: 450px;
    min-width: 250px;
    margin-right: 10px;
}
